.logo img{
    width:15%;
}
.my-navbar {
  background-color: #000;
}
.my-navbar ul {
  display: flex;
  justify-content: center;
}
.my-navbar ul li {
  list-style: none;
  margin: 0px 15px;
  padding: 10px 15px;
}
.my-navbar ul li:hover {
  background-color: #afafaf;
}
.my-navbar ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
